body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
a:link {
	color: rgb(54, 54, 54); text-decoration: none;
}
a:visited {
	color: rgb(112, 112, 112); text-decoration: none;
}
a:active {
	color: rgb(78, 78, 78); text-decoration: none;
}
a:hover {
	color: rgb(78, 78, 78); text-decoration: none;
}
.white13 {
	color: rgb(255, 255, 255); font-family: Tahoma; font-size: 13px; font-style: normal; font-weight: normal;
}
.white13bold {
	color: rgb(255, 255, 255); font-family: Tahoma; font-size: 13px; font-style: normal; font-weight: bold;
}
.white14bold {
	color: rgb(255, 255, 255); font-family: Tahoma; font-size: 14px; font-style: normal; font-weight: bold;
}
.black13 {
	color: rgb(0, 0, 0); font-family: Tahoma; font-size: 13px; font-style: normal; font-weight: normal;
}
.red13 {
	color: rgb(255, 0, 0); font-family: Tahoma; font-size: 13px; font-style: normal; font-weight: normal;
}
.black13bold {
	color: rgb(0, 0, 0); font-family: Tahoma; font-size: 13px; font-style: normal; font-weight: bold;
}
.black16bold {
	color: rgb(0, 0, 0); font-family: Tahoma; font-size: 16px; font-style: normal; font-weight: bold;
}
.black14bold {
	color: rgb(0, 0, 0); font-family: Tahoma; font-size: 14px; font-style: normal; font-weight: bold;
}
.black14 {
	color: rgb(0, 0, 0); font-family: Tahoma; font-size: 14px; font-style: normal; font-weight: normal;
}
.greenbold14 {
	color: rgb(47, 159, 0); font-family: Tahoma; font-size: 14px; font-style: normal; font-weight: bold;
}
.green13 {
	color: rgb(47, 159, 0); font-family: Tahoma; font-size: 13px; font-style: normal; font-weight: normal;
}
.greenbold13 {
	font-family: Tahoma;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: rgb(0,0,0);
}
a.greenlink14:hover {
	color: rgb(0, 102, 0); font-family: Tahoma; font-size: 14px; font-style: normal; font-weight: bold; text-decoration: none;
}
a.greenlink14 {
	color: rgb(47, 159, 0); font-family: Tahoma; font-size: 14px; font-style: normal; font-weight: bold; text-decoration: none;
}
a.greenlink:hover {
	color: rgb(0, 102, 0); font-family: Tahoma; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none;
}
a.greenlink {
	color: rgb(47, 159, 0); font-family: Tahoma; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none;
}
.UnderLine {
	border-style: none none dashed;
	margin: 1px;
	height: 18px;
	text-align: center;
	font-family: "MS Sans Serif", "Microsoft Sans Serif", Tahoma;
	font-weight: normal;
	border-bottom-color: black;
	border-bottom-width: 1px;
}
.UnderLineLeft {
	border-style: none none dashed; margin: 1px; height: 18px; text-align: left; color: rgb(0, 0, 255); font-family: "MS Sans Serif", "Microsoft Sans Serif", Tahoma; font-weight: normal; border-bottom-color: black; border-bottom-width: 1px;
}
.formthaitext {
	color: rgb(0, 0, 0); font-family: "MS Sans Serif", "Microsoft Sans Serif"; font-size: 15px; font-weight: bold;
}
.textform {
	color: rgb(0, 0, 0); font-family: Verdana; font-size: 11px;
}
.thaitext {
	color: rgb(0, 0, 0); font-family: Tahoma; font-size: 13px;
}
.thaitextRed {
	color: rgb(255, 0, 0);
	font-family: "MS Sans Serif", "Microsoft Sans Serif";
	font-size: 14px;
}
.headthaitext {
	color: rgb(0, 0, 0); font-family: "Microsoft Sans Serif"; font-size: 15px; font-weight: bold;
}
.warming1 {
	font-size: 25px; font-weight: bold;
}
.warming2 {
	font-size: 18px; font-weight: bold;
}
.warming11 {
	font-size: 25px; font-weight: bold; text-decoration: underline;
}
